.button{
    height: 50px;
    width: 50px;
    padding: 10px;
    box-shadow: 2px 2px #888888;
    font-size: 25px;
    color: white;
    border: none;
}

.green {
    background-color: green;
}

.red{
    background-color: red;
}

.button:hover{
    cursor: pointer;
}

.span{
    font-size: 25px;
}

.container{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}